/* Fundo */
.login-container {
  height: calc(100vh - 70px); /* para não sobrepor o Header */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  padding: 20px;
}

/* Card do login */
.login-box {
  width: 380px;
  padding: 30px 35px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #ff751f;
  display: flex;
  flex-direction: column;
}

/* Título */
.login-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  color: #333;
}

/* Labels */
.login-box label {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  color: #444;
}

/* Inputs */
.login-box input {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: 0.15s;
}

.login-box input:focus {
  border-color: #ff751f;
}

/* Botão */
.login-btn {
  margin-top: 20px;
  padding: 12px;
  background: #ff751f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.login-btn:hover {
  background: #e06719;
}

/* Erro */
.error {
  margin-top: 10px;
  color: #d62828;
  text-align: center;
  font-size: 14px;
}
