.edit-container {
  padding: 20px 40px;
  margin-left: 240px;
}

.edit-top-actions {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.edit-icon-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.edit-content {
  display: flex;
  gap: 50px;
  padding: 30px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.edit-image-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-big-img {
  width: 90%;
  max-width: 450px;
  border-radius: 10px;
}

.edit-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.edit-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.edit-form label {
  margin-top: 10px;
  font-size: 15px;
}

.edit-form input {
  margin-top: 4px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.save-btn {
  margin-top: 25px;
  padding: 14px;
  background: #ff751f;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.save-btn:hover {
  background: #e06719;
}
