.add-card {
  height: 350px;
  background: #fff;
  border: 2px dashed #d1d5db;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #6b7280;
  transition: 0.2s;
}

.add-card:hover {
  border-color: #4f46e5;
  color: #4f46e5;
}

.plus {
  font-size: 3rem;
  font-weight: 200;
  color: #9ca3af;
}

.add-text {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
