.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff751f;
}

.logo-img {
  height: 1.8rem;
  object-fit: contain;
  margin-right: 0.5rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background: #fff;
  color: #ff751f;
  font-weight: bolder;
  cursor: pointer;
}

.btn-primary {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  background: #ff751f;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}
