.addprod-container {
  padding: 20px 40px;
  margin-left: 240px;
}

.addprod-top-actions {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.addprod-icon-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* Layout principal */
.addprod-content {
  display: flex;
  gap: 50px;
  padding: 30px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* Área da imagem */
.addprod-image-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addprod-img {
  width: 90%;
  max-width: 450px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.addprod-empty-img {
  width: 300px;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Formulário */
.addprod-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.addprod-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.addprod-form label {
  margin-top: 12px;
  font-size: 15px;
  color: #333;
}

.addprod-form input {
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 16px;
}

/* Botão */
.addprod-btn {
  margin-top: 20px;
  padding: 14px;
  background: #ff751f;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.addprod-btn:hover {
  background: #e06719;
}
