.sidebar {
  width: 220px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 70px; /* mesma altura do Header */
  left: 0;
}

.sidebar-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar-nav button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.1s;
}

.sidebar-nav button:hover {
  background-color: #ff751f;
  color: #fff;
}
